body{
background-color: rgb(239, 234, 227);
margin-left: 60px;
margin-right: 60px;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

  }
  .nav-name{
    font-size: 30px;
  }
  li {
    float: left;
  }
  li:nth-child(2){
    margin-left: 50vw;
  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #c5a3a0;
  }

  .name{
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  }


  .intro{
  font-family: Arial, Helvetica, sans-serif;
  }
 
  .body{
  padding-left: 15vw;
  padding-right: 15vw;
  }
  

  /* Projects Page */

  .title{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px
  }
  .desc{
    font-family: Arial, Helvetica, sans-serif;
  }
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  margin-top: 100px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}